
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}

.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(2x/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
h3{
    color:#D46187;
    font-family: 'kavoon';
    font-size: 2vw;
    padding: 0.5vw 2vw;
}
img {
    width: 7vw;
    height: 7vw;
    margin: 0.2vw 1vw;
    border: 0.2vw solid #D46187;
    border-radius: 0.5vw;
    background-color:#EC92B6;
    z-index: 5;
}

header{
    width: 40vw;
    margin: 2vw 0 0 0;
    padding:  0.5vw 2vw 0.5vw 1vw;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #F4C748 ;
    border: 0.5vw Solid #EC92B6;
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFFEFF;
    z-index: 8;
}
.noTochin{
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    display: none;
}
.rstBtt{
    z-index: 5;
    padding: 1vw 2vw;
    background-color: #EC92B6;
    color:#FFFEFF;
    font-family: 'kavoon';
    font-size: 2vw;
    border-radius: 1vw;

}
.rstBtt:hover{
    z-index: 5;
    padding: 1vw 2vw;
    background-color: #D46187

}

.container{
    position: relative;
    width: 60vw;
    height: 34vw;
    margin: 10vw 20vw 0vw 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 10vw;
    z-index: 5;
    &_fondo_i{
        width: 30vw;
        height: 37vw;
        overflow-x: hidden;
        position: absolute;
        top: -1.5vw;
        left: 0;
        background-image: url(2x/tapete_i.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 2;
    }
    &_fondo_d{
        width: 30vw;
        height: 37vw;
        overflow-x: hidden;
        position: absolute;
        top: -1.5vw;
        right: 0;
        background-image: url(2x/tapete_d.png);
        background-size:cover;
        background-position: right;
        background-repeat: no-repeat;
        z-index: 2;
    }
}

.b-grid {
    width: 60vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}







.juicy_1{
    background-image: url(2x/apple.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_2{
    background-image: url(2x/banana.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_3{
    background-image: url(2x/berry.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_4{
    background-image: url(2x/cherry.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_5{
    background-image: url(2x/orange.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_6{
    background-image: url(2x/peach.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_7{
    background-image: url(2x/pear.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.juicy_8{
    background-image: url(2x/watermelon.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@-webkit-keyframes flip-scale-2-ver-right {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    50% {
      -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
              transform: translateX(50%) rotateY(-90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
  @keyframes flip-scale-2-ver-right {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    50% {
      -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
              transform: translateX(50%) rotateY(-90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
.heart {
	-webkit-animation: flip-scale-2-ver-right 0.5s linear both;
	        animation: flip-scale-2-ver-right 0.5s linear both;
}
@-webkit-keyframes flip-scale-2-ver-right2 {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    50% {
      -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
              transform: translateX(50%) rotateY(-90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
  @keyframes flip-scale-2-ver-right2 {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    50% {
      -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
              transform: translateX(50%) rotateY(-90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
.total{
    -webkit-animation: flip-scale-2-ver-right2 0.5s linear both;
	        animation: flip-scale-2-ver-right2 0.5s linear both;
}







